<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h2><a href="/">Portfolio App</a></h2>
        <nav>
            <% if (user) { %>
                <a href="/create-file">Create File</a>
                <a href="/logout">Log out</a>
           <% } else {%>
            <a href="/login">Log In</a>
          <% } %>
        </nav>
    </header>
    <main>
        <h2>Welcome to your Dashboard</h2>
        <p>Add Projects Here Anytime you feel Techy!</p>

    </main>
    <footer>
        <small>&copy; Portfolio App</small>
    </footer>
</body>
</html>