<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head") %>

<body>
    <%- include("includes/header") %>

    <main>
        <h3>Log In Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, possimus! Earum, fuga. Atque esse ex nesciunt aliquid quidem laborum numquam porro, rem facere quo voluptates modi ad nisi. Fuga, autem.</p>
    </main>
    <%- include("includes/footer") %>

</body>
</html>